<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/styles/main.css" rel="stylesheet">
    <title>Random Image Joke</title>
</head>
<body>
    <button type="submit">Show random joke</button>
    <div id="bg-image">
        <div id="joke">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorem laudantium alias itaque officia! Praesentium tempora numquam ipsa culpa ab nihil asperiores nostrum. Tempora soluta fugiat atque laudantium placeat molestiae? </p>
        </div>
    </div>
    <footer>© 2023 Sharon M.J</footer>
</body>
</html>